<div>
  <div class="title">
    <b><%= current_customer.user_name %>さんの登録内容編集</b>
  </div>

  <%= form_with model: @customer, url: customers_infomation_path(@customer), method: :patch do |f| %>
    <div class="form-group">
      <table>
        <thead>
          <tr>
            <th></th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>氏名</td>
            <td><%= f.text_field :last_name %></td>
            <td><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= f.text_field :last_name_kana %></td>
            <td><%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <td>ユーザーネーム</td>
            <td colcpan="2"><%= f.text_field :user_name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td colcpan="2"><%= f.email_field :email %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <%= f.submit "変更登録", class: "btn btn-success btn-sm" %>

  <% end %>
</div>