<div>
  <div class="title">
    <b><%= current_customer.user_name %>さんのマイページ</b>
  </div>

  <div class="form-group">
    <table>
      <thead>
        <tr>
          <th></th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>ユーザーネーム</td>
          <td><%= @customer.user_name %></td>
        </tr><tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>

    <div class="action">
      <span>投稿一覧</span>
      <span>ブックマーク一覧</span>
      <%= link_to "編集", customers_infomation_edit_path, class: "btn btn-success btn-sm" %>
      <%= link_to "退会", customers_unsubscribe_path, class: "btn btn-danger btn-sm" %>
    </div>
  </div>
</div>