<%= form_with model: post, url: url do |f| %>
  <div class="form-group w-50 mt-4">
    <div class="field mb-2">
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div class="field mb-2">
      <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
    </div>
    <%# 検索タグを選択 => 選択･表示方法？ %>
    <div class="field">
      <%= %>
    </div>
    <div class="field mb-2">
      <%= f.text_area :introduction, placeholder: "内容", rows: 8, class: "form-control" %>
    </div>
    <div class="action">
      <%= f.submit submit, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
<% end %>