<div>
  <div class="title">
    <h2>スレッド内容確認</h2>
  </div>

  <%= form_with model: @post, url: posts_path, method: :post do |f| %>
    <div class="form-group w-50 mt-4">
      <div class="field mb-2">
        <%= f.file_field :image %>
      </div>

      <div class="field mb-2">
        <%= f.text_field :title, class:"form-control" %>
      </div>

      <%# 検索タグを選択 => 選択･表示方法？ %>
      <div class="field">
        <%= %>
      </div>

      <div class="field mb-2">
        <%= f.text_area :introduction, rows: 8, class:"form-control" %>
      </div>

      <div class="action">
        <%= f.submit "新規投稿", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  <% end %>
</div>