<div class="inner">
  <div class="title mt-4">
    <h2>スレッド編集</h2>
  </div>

  <%= render 'layouts/error_messages', resource: @post %>

  <div class="form w-50 mt-3">
    <%= form_with model: @post, url: post_path, method: :patch do |f| %>
      <div class="post-edit-form">
        <%= f.label :Introdubction %>
        <%= f.text_area :introduction, rows: 8, class: "form-control mb-3" %>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class="tag-list">
            <%= tag.label do %>
              <%= tag.check_box %>
              <%= tag.text %>
            <% end %>
          </div>
        <% end %>

        <%= f.submit "変更登録", class: "btn btn-success btn-sm" %>
      </div>
    <% end %>
  </div>
</div>