<div class="inner container mt-3">
  <div class="title">
    <h2>スレッド一覧</h2>
  </div>

  <div class="form mt-4 d-flex">
    <div>
      全xx件中、<%= @posts.count %>件を表示

        <%# **検索フォーム** %>
      <%= form_tag posts_path, method: :get, class: 'boards_searchForm' do %>
        <%= select_tag :tag_id,options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]), {prompt: 'タグで絞り込み検索',onchange: 'submit(this.form);'} %>
      <% end %>
    </div>

    <div class="post-list w-75">
      <% @posts.each do |post| %>
        <div class="post d-flex justify-content-start border-bottom">
          <div class="post-image">
            <%= image_tag post.get_image, size: '100x100' %>
          </div>

          <div class="post-infomation my-auto ml-4">
            <h3><%= link_to post.title, post_path(post.id) %></h3>
            <p class="comment">
              <i class="fas fa-comment"></i>
              <%= post.post_comments.count %>件
              <%= l post.created_at %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  **ページネーション実装**

</div>