<div class="inner container mt-3 w-75">
  <div class="title mt-5">
    <h2>スレッド一覧</h2>
  </div>

  <div class="form mt-5  d-flex flex-column">
    <div class="d-flex justify-content-between">
      <span>
        全 <b><%= @posts.count %></b> 件の投稿
      </span>

      <span>
        <%# **検索フォーム** %>
        <%= form_tag posts_path, method: :get, class: 'boards_searchForm' do %>
          <%= select_tag :tag_id,options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]), {prompt: 'タグで絞り込み検索',onchange: 'submit(this.form);'} %>
        <% end %>
      </span>
    </div>

    <%= render 'post_list', posts: @posts %>

  </div>

  <div>
    <%= paginate @posts %>
  </div>

</div>