<div class="inner">
  <div class="title mt-5">
    <h2>新規スレッド投稿</h2>
  </div>

  <%= render 'layouts/error_messages', model: @post %>

  <%= form_with model: @post, url: posts_path, method: :post do |f| %>
    <div class="form">
      <div class="post-form w-50 mt-4">
        <div class="field mb-4">
          <%= f.file_field :image, accept: "image/*" %>
        </div>

        <div class="field mb-4">
          <%= f.label :title %>
          <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
        </div>

        <%# 検索タグ %>
        <div class="field mb-4">
          <%= f.label :tags %>
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class="tag-list">
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="field mb-4">
          <%= f.label :introduction %>
          <%= f.text_area :introduction, placeholder: "内容", rows: 8, class: "form-control" %>
        </div>

        <div class="action">
          <%= f.submit "新規投稿", class: "btn btn-primary btn-sm w-100" %>
        </div>
      </div>
    </div>
  <% end %>
</div>