<div>
  <div class="title">
    <h2>新規スレッド投稿</h2>
  </div>

  <div class="form-group">
    <%= form_with model: @post, url: post_confirm_path, method: :post do |f| %>

      <div class="field">
        <%= f.file_field :image, accept: "image/*" %>
      </div>

      <div class="field">
        <%= f.text_field :title, placeholder: "スレッドのタイトル" %>
      </div>

      <%# 検索タグを選択 => 選択･表示方法？ %>
      <div class="field">
        <%= %>
      </div>

      <div class="field">
        <%= f.text_area :introduction, placeholder: "スレッドの内容" %>
      </div>

      <div class="action">
        <%= f.submit "入力内容確認", class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
  </div>
</div>