<div class="inner">
  <div class="title">
    <h2>スレッド詳細</h2>
  </div>

  <div class="form">
    <div class="head-area">
      <%= image_tag @post.get_image %>
      <h3><%= @post.title %></h3>
      <p class="comment">
        <i class="fas fa-comment"></i>
        <%= @post.post_comments.count %>件
        <%= l @post.created_at %>
      </p>
      <div class="head-area-btns">
        <%= link_to "編集", edit_post_path, class: "btn btn-success btn-sm" %>
        <%#= link_to "お気に入り", xxx_path, class: "btn btn-sm" %>
      </div>
      <div class="post-introduction">
        <%= @post.introduction %>
      </div>
    </div>

    <div class="body-area">
      <div class="comment-list">
        <% @post.post_comments.each do |post_comment| %>
          <div class="info">
            <%= post_comment.customer.user_name %>
            <%#= l @post_comment.created_at %>
          </div>
          <div class="comment">
            <%= post_comment.comment %>
          </div>
        <% end %>
      </div>
      <div class="comment-form">
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメント内容" %>
          <%= f.submit "コメントする", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>