<div class="inner">
  <div class="title">
    <h2>スレッド詳細</h2>
  </div>

  <div class="form">
    <div class="head-area">
      <%= image_tag @post.get_image %>
      <h3><%= @post.title %></h3>
      <p class="comment">
        <i class="fas fa-comment"></i>
        <%= @post.post_comments.count %>件
        <%= l @post.created_at %>
      </p>
      <div class="head-area-btns">
        <% if @post.customer == current_customer %>
          <%= link_to "編集", edit_post_path, class: "btn btn-success btn-sm" %>
        <% end %>
        <%#= link_to "お気に入り", xxx_path, class: "btn btn-sm" %>
      </div>
      <div class="post-introduction">
        <%= @post.introduction %>
      </div>
    </div>

    <div class="body-area">
      <div class="comment-list">
        <% @post.post_comments.each do |post_comment| %>
          <div class="info">
            <%= post_comment.customer.user_name %>
            <%= l post_comment.created_at %>
          </div>

          <div class="comment">
          <%# true=>コメント表示、false=>削除コメント %>
            <% if post_comment.show_comment %>
              <%= post_comment.comment %>
              <% if post_comment.customer == current_customer %>
                <%= link_to "コメント削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger btn-sm" %>
              <% end %>
            <% else %>
              <%= "不適切なコメントのため管理者によって削除されました" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="comment-form">
        <% if customer_signed_in? %>
          <%= form_with model: [@post, @post_comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメント内容" %>
            <%= f.submit "コメントする", class: "btn btn-primary btn-sm" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>