<div class="inner">
  <div class="title">
    <h2>スレッド詳細</h2>
  </div>

  <div class="form d-flex flex-row">
    <div>
      <%= image_tag @post.get_image %>
    </div>
    <div>
      <i class="fas fa-comment"></i> <%= @post.post_comments.count %>件</br>
      <b><%= @post.title %></b>
    </div>
    <div>
      <%= link_to "編集", edit_post_path, class: "btn btn-success btn-sm" %>
      <%#= link_to "コメントを投稿する", xxx_path, class: "btn btn-sm %>
    </div>
  </div>
  <div>
      <%= @post.introduction %>
  </div>
  <div class="comment">
    <% @post.post_comments.each do |post_comment| %>
      <%= コメント投稿者画像 %>
      <%= コメント投稿者ユーザー名 %>
      <%= コメント投稿内容 %>
      <%= コメント投稿日時 %>
    <% end %>
  </div>
</div>