<div class="inner">
  <div class="title">
    <h2>スレッド詳細</h2>
  </div>

  <div class="form d-flex flex-row">
    <div>
      <%= image_tag @post.get_image %>
    </div>
    <div>
      <b><%= @post.title %></b></br>
      <i class="fas fa-comment"></i> <%= @post.post_comments.count %>件
      <%= l @post.created_at %>
    </div>
    <div>
    <%# 編集はなし？新しいスレッド立てるか %>
      <%= link_to "編集", edit_post_path, class: "btn btn-success btn-sm" %>
      <%#= link_to "コメント", xxx_path, class: "btn btn-primary btn-sm" %>
      <%#= link_to "お気に入り", xxx_path, class: "btn btn-sm" %>
    </div>
  </div>
  <div>
      <%= @post.introduction %>
  </div>
  <div>
    <% @post.post_comments.each do |post_comment| %>
      <%= post_comment.customer.user_name %>
      <%= post_comment.comment %>
      <%#= l @post_commnet.created_at %>
    <% end %>
  </div>
  <div>
    <%= form_with model: [@post, @post_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメント内容" %>
      <%= f.submit "コメントする", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>