<div>
  <div class="title">
    <h2>会員一覧</h2>
  </div>

  ページネーション

  <div class="form-group">
    <table>
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>ユーザーネーム</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <% @customers.each do |customers| %>
        <tbody>
          <tr>
            <td><%= customers.id %></td>
            <td><%= customers.full_name %></td>
            <td><%= link_to customers.user_name, admin_customer_path(customers.id) %></td>
            <td><%= customers.email %></td>
            <td>
              <% if customers.is_deleted %>
                <b><%= "退会" %></b>
              <% else %>
                <b><%= "有効" %></b>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>