<div class="inner container w-75">
  <div class="title">
    <h3><%= @customer.user_name %>さんの登録内容</h3>
  </div>

  <div class="form col-8">
    <table class="table table-striped">
      <thead>

      </thead>
      <tbody>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.full_name_kana %></td>
        </tr>
        <tr>
          <td>ユーザーネーム</td>
          <td><%= @customer.user_name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td>
            <% if @customer.is_deleted %>
              <b><%= "退会" %></b>
            <% else %>
              <b><%= "有効" %></b>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="action">
      スレッド一覧
      ブックマーク一覧
      <%= link_to "編集", edit_admin_customer_path, class: "btn btn-success btn-sm" %>
    </div>
  </div>
</div>