<div class="inner container">
  <div class="title mt-5">
    <h3><%= @customer.user_name %> さんの登録内容</h3>
  </div>

  <div class="form col-8 mt-4">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.full_name_kana %></td>
        </tr>
        <tr>
          <td>ユーザーネーム</td>
          <td><%= @customer.user_name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td>
            <% if @customer.is_deleted %>
              <b><%= "退会" %></b>
            <% else %>
              <b><%= "有効" %></b>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="action text-center">
      <%= link_to "スレッド一覧", admin_my_posts_path(@customer.id), class: "btn btn-primary btn-sm ml-1 px-4" %>
      <%= link_to "ブックマーク一覧", admin_bookmarks_path(@customer.id), class: "btn btn-primary btn-sm ml-1 px-4" %>
      <%= link_to "編集", edit_admin_customer_path, class: "btn btn-success btn-sm ml-2 px-4" %>
    </div>
  </div>
</div>