<div class="inner container w-75 mt-3">
  <p id="notice"><%= flash[:notice] %></p>

  <div class="title mt-5">
    <h2>スレッド詳細</h2>
  </div>

  <div class="form mt-4">
    <div class="head-area">
      <div class="post d-flex justify-content-start border-bottom">
        <div class="post-image">
          <%= image_tag @post.get_image, size: '100x100' %>
        </div>

        <div class="post-infomation my-auto ml-4">
          <h3><%= @post.title %></h3>
          <p class="commnet">
            <i class="fas fa-comment"></i>
            <%= @post.post_comments.count %>件
            <%= l @post.created_at %>
          </p>
          <p class="tag">
            <% @post.tags.each do |tag| %>
              <span class="bg-primary text-white rounded-lg"><%= tag.name %></span>
            <% end %>
          </p>
        </div>
      </div>
      <div class="post-introduction border-bottom mt-3 mb-3">
        <b><%= @post.introduction %></b>
      </div>
    </div>

    <div class="body-area">
      <div class="comment-list">
        <% @post.post_comments.each do |post_comment| %>
          <div class="comment-content border-bottom mt-2">
            <%= post_comment.customer.user_name %>
            <%= l post_comment.created_at %>
            <p class="commnet mt-3">
              <%= post_comment.comment %>
            </p>
            <% if post_comment.show_comment %>
              <b><%= "有効" %></b>
            <% else %>
              <b><%= "無効" %></b>
            <% end %>
            <%= link_to "編集", edit_admin_post_post_comment_path(@post.id, post_comment.id), class: "btn btn-success btn-sm mb-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>