<div class="inner container mt-3">
  <div class="title mt-5">
    <h2>コメント編集</h2>
  </div>

  <div class="form mt-5">
    <%= form_with model: [@post, @post_comment], url: admin_post_post_comment_path do |f| %>
      <div clas="comment">
        <%= f.label :コメント内容 %><br>
        <%= f.text_area :comment, rows: 5, class: "form-control w-50" %>
      </div>

      <div class="show-comment mt-4">
        <%= f.radio_button :show_comment, true %> <%= f.label :show_comment, "有効" %>
        <%= f.radio_button :show_comment, false %> <%= f.label :show_comment, "無効" %>
      </div>

      <%= f.submit "変更登録", class: "btn btn-success btn-sm w-50 mt-4" %>

    <% end %>
  </div>
</div>