<!DOCTYPE html>
<html>
  <head>
    <title>ToreSetsu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%# ホーム画面リンク %>
        <div>
          <%# <a href="/"></a> %>Tore_Setsu
        </div>

        <%# ログイン状態表示 %>
        <div>
          <%# if customer_signed_in? %>
            <%# xxxxさんはログイン中です %>
          <%# end %>
        </div>

        <%# ナビゲーションバー %>
        <div>
          <ul>
            <% if customer_signed_in? %>
              <li>スレッド一覧</li>
              <li>スレッド投稿</li>
              <li>マイページ</li>
              <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
            <% elsif admin_signed_in? %>
              <li>スレッド一覧</li>
              <li>会員一覧</li>
              <li><%= link_to "タグ一覧", admin_tags_path %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <% else %>
              <li>スレッド一覧</li>
              <li><%= link_to "ログイン", new_customer_session_path %></li>
              <li><%= link_to "新規登録", new_customer_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>© 2022 Tore_Setsu</p>
    </footer>
  </body>
</html>
